<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sql" value="AdventureWorksLocal"/>
  </appSettings>
  <connectionStrings>
    <add name="AdventureWorksLocal" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=true"/>
    <add name="AdventureWorksHomologacao" connectionString="Data Source=HOMOLOGA\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=true"/>
    <add name="AdventureWorksProducao" connectionString="Data Source=SERVIDOR\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=true"/>
  </connectionStrings>
</configuration>